.about {
  &__section {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-gap: var(--spacing-10);
    margin-top: 50px;

    img {
      width: 100%;
      border-radius: 20px;
      border: 10px solid #fff;
      box-shadow: 20px 20px 60px #d9d9d9, 
      -20px -20px 60px #ffffff;
    }
  }

  &__social-links {
    width: 30px;
    height: 30px;
    margin: 0 10px 10px 0;

    &:hover {
      opacity: 0.8;
    }
  }

  &__cta {
    display: block;
    width: fit-content;
    border-radius: 15px;
    padding: 15px;
    border: none;
    background-color: var(--color-background);
    box-shadow:  6px 6px 12px #d9d9d9, 
    -6px -6px 12px #ffffff;

    &:hover {
      background-color: var(--color-background-dark);
      text-decoration: none;
    }
  }
}

@media only screen and (max-width: 768px) {
  .about {
    &__section {
      grid-template-columns: 1fr;
    }
  }
}
