.about {
  &__section {
    display: grid;
    grid-template-columns: 2fr 3fr;
    margin-top: 50px;

    img {
      width: 400px;
      border-radius: 20px;
      border: 10px solid #fff;
      box-shadow: 20px 20px 60px #d9d9d9, 
      -20px -20px 60px #ffffff;
    }
  }

  &__cta {
    border-radius: 15px;
    padding: 15px;
    border: none;
    background-color: var(--color-background);
    box-shadow:  6px 6px 12px #d9d9d9, 
    -6px -6px 12px #ffffff;

    &:hover {
      background-color: var(--color-background-dark);
      text-decoration: none;
    }
  }
}
