.navbar {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    padding: 15px;
    background-color: var(--color-btn-background);
    border-radius: 20px;
    box-shadow:  6px 6px 11px var(--color-shadow-dark), 
    -6px -6px 11px var(--color-shadow-light);
    text-decoration: none !important;

    h6 {
      margin: 0;
    }

    &:hover {
      background-color: var(--color-btn-background-dark);
    }
  }

  &__items {
    display: flex;
    align-items: center;
    
    a {
      margin-right: 20px;
      font-weight: bold;
      font-family: var(--font-heading);
  
      &:hover {
        text-decoration: underline;
      }
    }
  }
}