.navbar {
  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    padding: 15px;
    background-color: var(--color-background);
    border-radius: 20px;
    box-shadow:  6px 6px 11px #d9d9d9, 
    -6px -6px 11px #ffffff;
    text-decoration: none !important;

    h6 {
      margin: 0;
    }

    &:hover {
      background-color: var(--color-background-dark);
    }
  }

  &__items a {
    margin-left: 20px;
    font-weight: bold;
    font-family: var(--font-heading);

    &:hover {
      text-decoration: underline;
    }
  }
}